

<style type="text/css">
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none; /* Disable selection/copy in UIWebView */
    }
</style>




<style>
tr, td, th {
    text-align: left;
    font-family: "UniversLTStd";
    vertical-align: top;
    padding-top: 10px;
}

.left
{
    width: 543px;
    padding-right: 40px;
    padding-left: 75px;
}

.right
{
    padding-right: 75px;
}

.seperator
{
    padding-bottom: 18px;
}
.title
{
    font-size: 18px;
        color: #000000;
}
.pagecontent
{
    color: #616365;
    padding-top: 0px;
    font-size:14px;
    vertical-align: top;
}


ul
{
    padding-left:15px;
    list-style-position:outside;
}
</style>


<TABLE BORDER="0"    WIDTH="100%">
    <tr >
        <td class = "left">
        <div class = "title">
        <ul style = "font-weight:bold">TitleContent</ul>
        </div>
        <div class = "seperator"></div>
        <div class = "pagecontent"></div>
        </td>
        
        <td class = "right">
        <div class = "title">
            <strong>Your Top Two Transformational Hybrid IT Business Drivers:</strong></div>
<!--            <div style = "padding-top: 10px"></div>-->
            <div class = "seperator"></div>
        <div class = "pagecontent"><ul>OtherBusinessDriver</ul></div>
        </td>
    </tr>
</TABLE>