
<style>

div{
    color: #616365;
    font-family: "UniversLTStd";
    font-size:14px;
<!--    margin-left: 500px;-->
<!--    margin-right: 75px;-->
}


</style>

<style type="text/css">
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none; /* Disable selection/copy in UIWebView */
    }
</style>

<div>ResultContent</div>